{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": {
          "chrome": "60",
          "firefox": "55",
          "safari": "12",
          "edge": "79",
          "ie": "11"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}